* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #56baed;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.select-box, .player-box, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.select-box {
    background: #fff;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
    /*display: none;*/
}

.select-box.hide {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50% scale(0.9));
}

.select-box header{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.select-box .title{
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
}

.select-box .option{
    display: flex;
    width: 100%;
}

.option button{
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 0;
    border: none;
    outline: none;
    background: #56baed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option button:hover, .result-box .btn button:hover{
    transform: scale(0.9);
}

.option button playerX{
    margin-right: 5px;
}

.option button playerO{
    margin-left: 5px;
}

.player-box .current-player{
    background: #fff;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.player-box .current-player .player{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
}

.player-box .current-player span {
    color: #56baed;
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}

.current-player span:first-child{
    color: #fff;
}

.player.active span:first-child{
    color: #56baed;
}

.player.active span:nth-child(2){
    color: #fff;
}

.player.active .slider {
    left: 50%;
}

.current-player .slider {
    background: #56baed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;
}

.player-box {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50% scale(0.9));
}

.player-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50% scale(1));
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*indicar que são 3 colunas*/
}

.game button {
    width: 100px;
    height: 100px;
    margin: 2px; /*margem entre cada botã*/
    cursor: pointer;
    font-size: 50px;
    background: white;
    border: none;
    border-radius: 5px;
}

.result-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box .won-text{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .won-text p{
    font-weight: 600;
    margin: 0 3px;
}

.result-box .btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.result-box .btn button {
    font-size: 15px;
    font-weight: 400;
    padding: 8px 20px;
    border: none;
    outline: none;
    background: #56baed;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}