@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; /*caso a primeira não funcione, usa a segunda*/
}

body {
    height: 100vh; /*ocupa 100% da viewport*/

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
}

.container { /*caixa = visor + botoes*/
    height: 300px;
    width: 450px;

    border-radius: 3px;

    background: transparent;
    box-shadow: 0px 8px 10px rgba(0,0,0,.5);
}

/*a ausência dessa configuração fazia que as caixas de min e seg ficarem block, cada uma ocupando a largura do container*/
.container .mostrador{ /*mostardor = caixa de (minutos + segundos)*/
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

.mostrador div{ /*cada caixa de minuto + segundo*/
    height: 170px;
    width: 150px;

    color: #fff;
    letter-spacing: 3px;

    background: rgba(5, 5, 5, .9);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);

    border-radius: 7px;
    font-weight: bold;
    font-size: 60px;
}

.mostrador span.tempo { /*parte do texto. vale p/ "minutos" e "segundos"*/
    font-size: 10px;
}

.botoes { /*caixa com tres botoes*/
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.botoes button { /*cada botao*/
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;

    height: 40px;
    width: 80px;

    background: black; 
    border: none;
    border-radius: 10%;
}

.botoes .initial-btn:hover {
    color: white; 
    background: #538d22;
}

.botoes .pause-btn:hover{
    color: white; 
    background: #fdca40;
}

.botoes .stop-btn:hover {
    color: white; 
    background: #f43b3b;
}

