* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-slider, .container-slider1 {
  z-index: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.container-images, .container-images1 {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.slider, .slider1 {
  opacity: 0;
  transition: opacity .2s;
  position: absolute;
  max-width: 100%;
  border-radius: 10px;
}

.on {
  opacity: 1;
}

#prev-button, #prev-button1, #next-button, #next-button1 {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#prev-button img, #prev-button1 img, #next-button img, #next-button1 img {
  width: 100%;
  height: 100%;
}

#prev-button, #prev-button1 {
  transform: rotate(180deg);
}