* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(bg-temporary.jpg);
    background-size: cover;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 3rem;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: #ed3c57;
    font-weight: 600;
}

.dropdown-submenu{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
}

.navbar .nav-links ul li.organizacao{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar .nav-links ul li.sobre{
    margin: 0;
    display: flex;
    flex-direction: column;
}
