* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: #ff3c78;
    --text-color:#fff;
    --bg-color: #1e1c2a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font:0.9rem;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

body {
    /*background: var(--bg-color);*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 10vh;
    width: 100vw;
    background-size: cover;
}

.navbar {
    position: absolute;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    position: relative;
    color: #ff3c78;
    text-decoration: none;
    padding: 0 10px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
}

.nav-links a:hover::after {
    width: 100%;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .menu-hamburguer {
    display: none; /*não aparece em tela grande*/
    position: absolute;
    top: 15px;
    right: 30px;
    width: 35px;
}

section {
    padding: 70px 17%;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.5rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;    
    width: 600px;
    height: auto;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}

.btn:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
    grid-gap: 1.5rem;
    align-items: center;
}

.sobre-img img {
    max-width: 100%;
    width: 480px;
    height: auto;
}

.sobre-texto span {
    color: var(--main-color);
    font-weight: 600;
}

.sobre-texto h2 {
    font-size: var(--h2-font);
}

.sobre-texto p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}

.linhas {
    text-align: center;
}

.linhas span {
    color: var(--main-color);
    font-weight: 600;
}

.linhas h2 {
    font-size: var(--h2-font);
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}

.box {
    color: #fff;
    position: relative;
    margin-top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20%;
    border-radius: 0.5rem;
}

.box-img {
    width: 220px;
    height: 220px;
    margin-bottom: 1rem;
}

.box-img img {
    width: 100%;
    height: 100%;
}

.box h2 {
    font-size: 1.3rem;
    color: var(--bg-color);
}

.box h3 {
    font-size: 1rem;
    color: var(--bg-color);
    font-weight: 400;
    margin: 4px 0 10px;
}

.box span {
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}

.box .bx {
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;
}

.estrategia-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.e-box {
    text-align: center;
    padding: 20px 30px;
}

.e-box img {
    width: 90px;
}

.e-box h3 {
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.2rem;
}

.e-box p {
    line-height: 1.7rem;
}

.cta {
    background: #feeee7;
    padding: 70px 0;
    text-align: center;
    width: 66%;
    margin: 100px auto;
    border-radius: 10px;
}

.cta h2 {
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    padding: 10px 0;
}

.col {
    width: 50%;
}

.col h4{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}

.col h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--text-color);
}

@media screen and (max-width: 900px){
    .navbar {
        padding: 0; /*ocupa toda horizontal*/
    }

    .navbar .logo { /*manter a posição mesmo no blur*/
        position: absolute;
        top: 15px;
        left: 30px;
    }

    .navbar .menu-hamburguer {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color:rgba(255, 255, 255, 0.299);
        backdrop-filter: blur(3px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%; /*oculto até o click*/
        transition: all .5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column; /*navbar se torna coluna*/
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2rem;
    }
}